$colour-red: #9E0000;

#editor-container {
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-top: 1rem;
  padding: 1rem;

  small {
    color: $colour-red;
  }

  label {
    width: 100%;
  }

  input {
    width: 100%;
  }
}
